@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-primary: #121626;
  --color-background-secondary: #1E2035;
  --color-background-card: #2E303A;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #B6B8C2;
  --color-accent-500: #d323ff;
  --color-accent-700: #b100e3;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}